@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    height: 100vh;
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

.content {
    flex-grow: 1;
}

/* HEADER SECTION */
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
    padding-right: 370px;
    padding-left: 370px;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 40px;
}

/* FOOTER SECTION */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .main-text {
    color: #e5e7eb;
}

/* FIRST SECTION */

.first-section {
    background-color: #1f2937;
}

.first-section .main-text {
    font-size: 48px;
    font-weight: bolder;
    color: #f9faf8;
    margin: 0;
}

.first-section .secondary-text {
    font-size: 18px;
    color: #e5e7eb;
    margin: 0;
}

.first-section .signup {
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 30px;
    border-radius: 10px;
    border: none;
    margin-top: 10px;
}

.first-section {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: 100px 0;
}

.big-image {
    width: 650px;
    height: 350px;
    padding: 0;
    margin: 0;
    border-radius: 10px;
    border: 5px solid #f9faf8;
}

.first-container {
    width: 450px;
}


/* SECOND SECTION */
.second-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 100px;
}

.images-container {
    display: flex;
    gap: 70px;
}

.second-section .main-text {
    font-size: 36px;
    font-weight: bolder;
    color: #1f2937;
}

.rounded-image {
    width: 250px;
    height: 350px;
    border: 3px solid #1f2937;
    border-radius: 10px;
}

.second-section .container {
    width: 250px;
    text-align: center;
}

/* THIRD SECTION */

.third-section {
    background: #e5e7eb;
    padding: 150px 250px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third-section .main-text{
    font-size: 36px;
    color: #1f2937;
    width: 850px;
}

.third-section .secondary-text {
    color: #1f2937;
    font-size: 23px;
    font-weight: bolder;
    margin-left: 600px;
    margin-top: -20px;
}


/* FOURTH SECTION */

.fourth-section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 125px;
    color: #f9faf8;
}

.blue-box {
    display: flex;
    background-color: #3882f6;
    border-radius: 10px;
    padding: 60px 150px;
    width:800px;
    justify-content: space-between;
    align-items: center;
}

.fourth-section .container {
    display: flex;
    flex-direction: column;
}

.fourth-section .signup {
    height: auto;
    border: 3px solid #f9faf8;
    font-size: 18px;
    font-weight: bold;
    background-color: #3882f6;
    color: #f9faf8;
    padding: 8px 40px;
    border-radius: 10px;
}

.fourth-section .main-text,
.fourth-section .secondary-text {
    margin: 0;
}


