body {
    font-family: 'Roboto';
}

ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

/* FONTS AND COLORS*/

.header-logo,
.main-text.first-section {
    color: #F9FAF8;
}

.header-logo {
    font-size: 24px;
    font-weight: bolder;
}

a,
.secondary-text.first-section {
    color: #E5E7EB;
    font-size: 18px;
}

.header,
.first-container,
.footer {
    background-color: #1F2937;
}

.main-text.first-section {
    font-size: 48px;
    font-weight: bolder;
}

.sign-up,
.second-sign-up {
    background-color: #3882F6;
    color: #E5E7EB;
    font-weight: bold;
    border-radius: 5px;
}

.main-text.second-section,
.quote {
    font-size: 36px;
    color: #1F2937;
}

.secondary-text.second-section {
    font-size: 18px;
    color: grey;
}

.rounded-image {
    border-radius: 15px;
    border: 4px solid #3882f6;
    width: 200px;
}

.third-container {
    background-color: #E5E7EB;
}

.author {
    font-size: 18px;
    font-weight: bold;
}

.blue-box {
    background-color: #3882f6;
}

.main-text.fourth-section,
.secondary-text.fourth-section {
    color: #F9FAF8;
    font-size: 18px;
}

.main-text.fourth-section {
    font-weight: bolder;
}

.second-sign-up {
    border: solid #F9FAF8;
}

.copyright {
    color: #F9FAF8;
}

/* END OF FONTS */

/* POSITIONING */

body {
    display: flex;
    flex-direction: column;
}

.header {
    display: flex;
}

.header-links {
    display: flex;
}




