@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

body {
    display: flex;
    flex-direction: column;
    margin: 0;
    padding: 0;
    font-family: Roboto, sans-serif;
}

/* HEADER SECTION */
ul {
    padding: 0;
    margin: 0;
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #1f2937;
}

.header-text {
    font-size: 24px;
    color: #f9faf8;
}

a {
    font-size: 18px;
    color: #e5e7eb;
}

.header-links {
    display: flex;
    gap: 40px;
}

/* FOOTER SECTION */

.footer {
    background-color: #1f2937;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer .main-text {
    color: #e5e7eb;
}

